<% include partials/header.ejs %>

<div class="container">
    <span class="home-head"><h1 class="display-4"><i class="fas fa-terminal title-icon"></i>The Black Code</h1>
    <% if(currentUser && currentUser.username === "Jean-Sebastien Surena"){ %>
        <form class="form-inline" action="/posts/new" method="GET"><button class="btn btn-lg btn-danger add-new"><i class="fas fa-plus-circle social-icon"></i>Add New Post</button></form></span>
    <% } %>
    <div class="jumbotron previews">
        <div class="previews">
            <% for(var i = posts.length - 1; i >= 0; i--){ post = posts[i]; %>
                
            <div class="media">
                <img class="align-self-center mr-3 preview-image" src="<%= post.image %>">
                <div class="media-body">
                    <h3 class="preview-title mt-0"><%= post.title %> </h3>
                    <div class="preview-author">By: <%= post.author.username %> </div>
                    <div class="preview-date"><%= post.created.toDateString() %></div>
                    <p class="preview-content">
                        <%= post.content.substr(0, 450); %>...
                    </p>
                    <a class="btn btn-sm btn-outline-danger" id="read-more" href="/posts/<%= post._id %>">Read more...</a>
                </div>
            </div>
            
            <hr>
            
            <% } %>
        <!--    <div class="media">-->
        <!--        <img class="align-self-center mr-3 preview-image" src="https://source.unsplash.com/bEcC0nyIp2g">-->
        <!--        <div class="media-body">-->
        <!--            <h3 class="preview-title mt-0">The Catch Up</h3>-->
        <!--            <div class="preview-author">By: Jean-Sebastien Surena</div>-->
        <!--            <div class="preview-date">August 26, 2018</div>-->
        <!--            <p class="preview-content">-->
        <!--                Do you remember your very first dream job? A lot of people I’ve asked have said various things: actor, lawyer, dancer, singer, superhero, storm chaser, etc. -->
        <!--                I think I’m the only person I know who has ever said “architect” to that question. During my time in Haiti, I lived with my grandmother in the house that-->
        <!--                I was once told my deceased grandfather had built (I came to find out that the house was my grandmother’s vision, not his) and I was so impressed by this that...</p>-->
        <!--            <a class="btn btn-sm btn-outline-danger" id="read-more" href="/posts/3">Read more...</a>-->
        <!--        </div>-->
        <!--    </div>-->
        <!--</div>-->
            
        <!--    <hr>-->
            
        <!--    <div class="media">-->
        <!--        <img class="align-self-center mr-3 preview-image" src="https://source.unsplash.com/8xAA0f9yQnE">-->
        <!--        <div class="media-body">-->
        <!--            <h3 class="preview-title mt-0">Who Am I?</h3>-->
        <!--            <div class="preview-author">By: Jean-Sebastien Surena</div>-->
        <!--            <div class="preview-date">August 26, 2018</div>-->
        <!--            <p class="preview-content">-->
        <!--                My name is Jean-Sebastien Surena, but you can call me Jean. I am a Computer Information Systems major at Baruch College in New York City. -->
        <!--                Although I’m a CIS major on paper, I’m a Comp Sci student at heart. I’m entering my senior year and currently on the Cybersecurity track, my minor is Theater. -->
        <!--                You may be asking yourself, “what in the world is a wannabe CS major doing minoring in Theater?” Unfortunately, the answer isn’t as exciting as it may originally seem...-->
        <!--            </p>-->
        <!--            <a class="btn btn-sm btn-outline-danger" id="read-more" href="/posts/2">Read more...</a>-->
        <!--        </div>-->
        <!--    </div>-->
            
        <!--    <hr>-->
            
        <!--    <div class="media">-->
        <!--        <img class="align-self-center mr-3 preview-image" src="https://baconipsum.com/wp-content/uploads/2015/01/bacon-ipsum-square-200-200.jpg">-->
        <!--        <div class="media-body">-->
        <!--            <h3 class="preview-title mt-0">Bacon Ipsum</h3>-->
        <!--            <div class="preview-author">By: Jean-Sebastien Surena</div>-->
        <!--            <div class="preview-date">August 25, 2018</div>-->
        <!--            <p class="preview-content">-->
        <!--                Bacon ipsum dolor amet doner buffalo chicken rump pork loin frankfurter sirloin picanha pancetta biltong flank short ribs beef. Porchetta meatloaf andouille, ribeye jowl tri-tip drumstick tenderloin burgdoggen turducken sausage chuck kevin ground round. Burgdoggen shankle doner pork chop t-bone salami drumstick tenderloin porchetta fatback picanha boudin. Shoulder meatball flank, filet mignon alcatra bacon andouille pork tri-tip sausage buffalo... -->
        <!--            </p>-->
        <!--            <a class="btn btn-sm btn-outline-danger" id="read-more" href="/posts/1">Read more...</a>-->
        <!--        </div>-->
        <!--    </div>-->
            
        <!--    <hr>-->
            
        </div>
    </div>

</div>

<% include partials/footer.ejs %>